<div class="container-fluid">
<body>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Our Information</h3>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social">
                      <a href="https://www.facebook.com" >
                        <img src="./assets/facebook.png" alt="">
                      </a>
                      <a href="https://www.instagram.com">
                        <img src="./assets/instagram.png" alt="">
                      </a>
                      <a href="https://www.twitter.com">
                        <img src="./assets/twitter.png" alt="">
                      </a>
                      <a href="https://www.linkedin.com">
                        <img src="./assets/linkedin.png" alt="">
                      </a>
                    </div>
                </div>
                <p class="copyright">Company Name © 2023 All Rights Reserved</p>
            </div>
        </footer>
    </div>
</body>



<!-- Credit to https://epicbootstrap.com/snippets/footer-dark -->
  
  
</div>