<table class="table ">
    <thead>
      <tr class="bg-light">
        <th>S.No.</th>
        <th>Book Id</th>
        <th>Book Name</th>
        <th>Reader Name</th>
        <th>Mail Id</th>
        <th>Aprove Button</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of requestlist">
        <td>{{item.isbn}}</td>
        <td>{{item.sender}}</td>
        <td>{{item.receiver}}</td>
        <td>{{item.status}}</td>
        <td>john@example.com</td>
        <td><button mat-raised-button color="primary">Aprove</button></td>
      </tr>
    </tbody>
  </table>