<div class="dropdown">
      
    <button class="dropbtn" >Category</button>
    <div   class="dropdown-content">
      <ul >
        <li><a class="list" data-value="1" (click)="getItemValue($event)">Fiction</a></li>
        <li><a class="list" data-value="2" (click)="getItemValue($event)">Non Fiction</a></li>
        <li><a class="list" data-value="3" (click)="getItemValue($event)">Action and Adventure</a></li>
        <li><a class="list" data-value="4" (click)="getItemValue($event)">Comic Book or Graphic Novel</a></li>
        <li><a class="list" data-value="5" (click)="getItemValue($event)">Fantasy</a></li>
        <li><a class="list" data-value="6" (click)="getItemValue($event)">Horror</a></li>
        <li><a class="list" data-value="7" (click)="getItemValue($event)">Classic</a></li>
        <li><a class="list" data-value="8" (click)="getItemValue($event)">category1</a></li>

      </ul>
    </div>
  </div>