<div class="container  mb-3">
    <div class="row ">
        <div class="col-sm-6 text-center bg-light rounded">
            <img src={{bookdetail.imgurl}} alt="Cover image" class="p-2">
        </div>
        <div class="col-sm-6  bg-light rounded ">
            <div class="p-3 card-body">
                    <h3 class="card-title" *ngIf="bookdetail"><b>Name:{{bookdetail.name}} </b></h3>
                    <table class="table table-borderless">
                            <tbody>
                                <td>AUTHOR: </td>
                                <td *ngIf="bookdetail">{{bookdetail.author}}</td>
                            </tbody>
                            <tbody>
                                <td>ISBN: </td>
                                <td *ngIf="bookdetail">{{bookdetail.isbn}}</td>
                            </tbody>
                            <tbody>
                                <td>CATEGORY: </td>
                                <td *ngIf="bookdetail">{{bookdetail.category}}</td>
                            </tbody>
                            <tbody>
                                <td>AVAILABLITIY: </td>
                                <td><span class="badge bg-info mb-2 p-1">Not Availbale</span></td>
                            </tbody>
                    </table>
                    <button class="btn btn-primary">Rent</button>
            </div>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12 p-3 d-flex align-items-center ">
            <div class="alert alert-success " *ngIf="bookdetail">
                <strong>DESCRIPTION: </strong>
                {{bookdetail.description}}
              </div>
        </div>
    </div>
</div>