
  <div class=" d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-1 border-0">
            <div class="card-body p-2">
              <h4 class=" text-center mb-2">Create an account</h4>

              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="form-group">
                        <input type="text" formControlName="userid" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['userid'].errors }" placeholder="user id" />
                        <div *ngIf="submitted && registerForm.controls['userid'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls['userid'].errors['required']">User ID is required</div>
                        </div>  
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['name'].errors }" placeholder="Name"/>
                        <div *ngIf="submitted && registerForm.controls['name'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls['name'].errors['required']"> Name is required</div>
                        </div>
                    </div>    
                </div>
                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['password'].errors }" placeholder="Password"/>
                        <div *ngIf="submitted && registerForm.controls['password'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls['password'].errors['required']">Password is required</div>
                            <div *ngIf="registerForm.controls['password'].errors['minlength']">Passw
                                ord must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['contact'].errors }" placeholder="Contact"/>
                        <div *ngIf="submitted && registerForm.controls['contact'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls['contact'].errors['required']"> contact is required</div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls['contact'].errors }" placeholder="Address"/>
                        <div *ngIf="submitted && registerForm.controls['contact'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm.controls['contact'].errors['required']"> Address is required</div>
                        </div>
                    </div>
                   
                <div class="text-center">
                    <button type="submit" class="btn btn-success mr-1">Register</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                </div>
    
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
